
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
        $("UserLogin").submit(function (e) {
            e.preventDefault();
            var data ={ 
                Emai: $("Email").val(),
                Password:$("Password").val()
            };
            $.ajax({
                url: "http://localhost:2200/api/User",
                type: "GET",
                dataType: 'JSON',
                data: data,
                success: function (d) {
                    alert("Login Sucessfully");

                },
                error: function () {
                    alert("Please try again");
                }
            });
        });
    });
</script>
<div class="container">
    <form name="UserLogin" id="UserLogin" class="form-horizontal">
        <div class="form-group">
            <label>Email</label>
            <input type="email" id="Email" class="form-control" />
        </div>

        <div class="form-group">
            <label>Password</label>
            <input type="password" id="Password" class="form-control" />
        </div>
        <br />
        <button class="btn btn-success" type="submit">Login</button>
    </form>
</div>

